<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="WARN" monitorInterval="30">
    <Properties>
        <Property name="LOG_PATTERN">
            %d{HH:mm:ss} %-1p %c{1}:%L - %m%n
        </Property>
    </Properties>
    <Appenders>
        <Console name="ConsoleAppender" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
    </Appenders>
    <Loggers>
        <Logger name="com.suirtech" level="info" additivity="true">
            <AppenderRef ref="ConsoleAppender" />
        </Logger>

        <Root level="warn"></Root>
    </Loggers>
</Configuration>